*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  font-family:" Outfit";
  background:linear-gradient(#2bbbc8, #000000);
}

.contact-container{
  margin-top:5px ;
  margin-bottom: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;


}
.contect-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title h2{
  font-weight: 60;
  color:#ffffff;
  font-size: 20px;
  margin-bottom: 5px;

}

.contact-left-title hr{
 border: none;
 width: 250px;
 height: 5px;
 background: #000;
 border-radius: 5px;
 margin-bottom: 20px;
}


.input-1{
  width: 300px;
  height: 50px;
  border:#000;
  outline: #fd7e14;
  border-radius: 5px;
  padding-left:10px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.button{
  color:white;
  background: linear-gradient(270deg,#d70d0d,#2b7397 );
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;

  
}

.contect-left textarea{
  padding-top: 10px;
  height: 150px;
  border-radius: 5px;
  width: 300px;
}

.input-1:focus{
  border: 2px solid #c72351;

}

.input-1::placeholder{
  color: #645f5f;
}

@media (max-width:800) {
  .input-1{
    width: 80vw;
  }
  .contact-right{
    display: none;
  }
  
}
.contact-left-title span{
  color: #000000;
  font-size:30px;
  margin-top: 20px;
}













